@font-face{
font-family: pacifico;
src: url('../fonts/Pacifico/Pacifico-Regular.ttf'); /* forma da fonte*/

}

@font-face {
    
    font-family: lobster;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

body {
    
    text-align: center;
    font-family: lobster,Arial,sans-serif; /* mudar as fontes*/
    margin: 0;
    
}
#inicio
{
    background-position: center;
}
nav {
    
    display:flex;
    flex-wrap: wrap;
}

nav div:nth-child(2){
    
    width: 20%;
    
    align-items: center;
    justify-content: center;
       
}
        

nav div:nth-child(3){
    
    width: 100%;
}

nav h1{
    
    font-family: Pacifico;
background-position: center;
}
    
    

nav a {
/*mudar os primeiros nomes*/
display: block;
padding: 10px 0px;
    width: 100px; 
    margin: 3px auto;
    border: 3px solid rgb(231, 22, 144);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: black;
}
    
}

section h2
{

margin-top: 0;
font-size: 2em;
    
}
 
.titulo{
    color: black;
    font-size: 100%;
    background-color: rgba(255,255, 255, .5);
}

section p 
{
    
    margin-bottom: 0;
}

#inicio h1 {
    
    font-size: 4em;
    color: deeppink; /*cor do titulo principal*/
}

footer {

    background-color: black;    
    color: white; /* cor da letra do roda pe*/
    overflow: auto; 
}
#imagem{


    background-size: cover; /* tamanho do fundo da imagem*/
    background-position: center; /* posiçao da imagem*/

    
}
#babosa{
    margin: 10%;
    background-image: url("../img/babosa.jpg"); 
}
#babosa p, h2{
    background-color: rgba(255,255, 255, .5);
    color: black;    
}
#power{
    margin: 10%;
    background-image: url("../img/beterraba.jpg");
    background-repeat: repeat;
}
#power p{
   color: black;
    background-color: rgba(255,255, 255, .5)
}
#power h5{

    background-color: rgba(255,255, 255, .5)
}
#hidrataçâoMaizena{
    margin: 10%;
    background-image: url("../img/maizena.png");
}
#hidrataçâoMaizena p{
    color: black;
    background-color: rgba(255,255, 255, .5);
}
#abacateMel{
    margin: 10%;
    background-image: url("../img/abacate.jpg")
}
#abacateMel p{
    color: black;
    background-color: rgba(255,255, 255, .5);
}

body {
background-image: url("../img/cachos.jpg");
background-size: cover; /* tamanho do fundo da imagem*/
 background-position: center; /* posiçao da imagem*/
 background-attachment: fixed;
}
#coco{
    margin: 10%;
    background-image: url("../img/coco.jpg")
}
#coco p, h5{
    color: black;
}
#bananaMel{
    margin: 10%;
    background-image: url("../img/banana.jpg")
}
#bananaMel p, h5{
    color: black;
}
#responsivo {
    
    
    
    color: white; /* cor do terceiro titulo*/
    
}
 
h2 {
color: black;

}

p 
{
    color: white;
}

section {

margin: 20px 0px; 
padding: 30px 10px;
    
}
#baby
{
background-position: center;


}











